//- views/partials/cta.pug
.container.mt-5.text-center
    h2 Ready to Get Started?
    p Let's work together to achieve your financial goals. Contact us today!
    a.btn.btn-primary.btn-lg(href='/contact') Get in Touch
