//- views/partials/features.pug
.container.mt-5
    h2.text-center.mb-4 Our Services
    .row
        .col-md-4
            .feature
                i.fa.fa-calculator
                h4 Tax Preparation
                p Maximize your deductions with our expert tax services.
        .col-md-4
            .feature
                i.fa.fa-briefcase
                h4 Business Consulting
                p Tailored strategies for your business growth.
        .col-md-4
            .feature
                i.fa.fa-file-invoice
                h4 Financial Reporting
                p Accurate reports for informed decision-making.
