//- views/partials/pricing.pug
.container.mt-5
    h2.text-center.mb-4 Our Pricing Plans
    .row
        .col-md-4.mb-4
            .card.h-100.d-flex.flex-column
                .card-header
                    h4.card-title.text-center Plan One
                .card-body.d-flex.flex-column.flex-grow-1
                    h3.card-price.text-center $10/month
                    ul.flex-grow-1
                        li Feature A
                        li Feature B
                        li Feature C
                    a.btn.btn-primary.btn-block.mt-auto(href='#') Sign Up
        .col-md-4.mb-4
            .card.h-100.d-flex.flex-column
                .card-header
                    h4.card-title.text-center Plan Two
                .card-body.d-flex.flex-column.flex-grow-1
                    h3.card-price.text-center $20/month
                    ul.flex-grow-1
                        li Feature A
                        li Feature B
                        li Feature C
                        li Feature D
                    a.btn.btn-primary.btn-block.mt-auto(href='#') Sign Up
        .col-md-4.mb-4
            .card.h-100.d-flex.flex-column
                .card-header
                    h4.card-title.text-center Plan Three
                .card-body.d-flex.flex-column.flex-grow-1
                    h3.card-price.text-center $30/month
                    ul.flex-grow-1
                        li Feature A
                        li Feature B
                        li Feature C
                        li Feature D
                        li Feature E
                    a.btn.btn-primary.btn-block.mt-auto(href='#') Sign Up
