//- views/partials/promoB.pug
.container.mt-5
    .row
        .col-md-6
            img.img-fluid(src='/images/financialservices.jpg' alt='Financial Services')
        .col-md-6
            h2 Expert Financial Consulting
            p Our expert consultants provide personalized financial advice to help you achieve your goals.
            ul
                li Investment planning
                li Retirement planning
                li Risk management
            a.btn.btn-success(href='/consulting') Get Started
