//- views/partials/promoA.pug
.container.mt-5
  .row
    .col-md-6
      h2 Professional Accounting Services
      p We provide top-notch accounting services to help you manage your finances effectively.
      ul
        li Tax preparation and planning
        li Bookkeeping and payroll
        li Financial statement preparation
      a.btn.btn-primary(href='/contact') Contact Us
    .col-md-6
      img.img-fluid(src='/images/Accounting-Technology.webp', alt='Accounting Services')
