section.container.mt-5
    h2.text-center.mb-4 Our Services
    .row
        each service in services
            .col-md-4
                .feature.text-center
                    i(class=service.icon)
                    h4= service.title
                    p= service.description
