//- views/partials/customer.pug
.container.mt-5
  h2.text-center.mb-4 Customer Testimonials
  .row
    .col-md-4
      .card.h-100
        .card-body.d-flex.flex-column
          img(src='/images/logo1.png', alt='Client Logo 1', class='client-logo.mb-2')
          p.text-center "The best accounting service we've ever used!"
          h5.text-center - John Doe
          small.text-muted.text-center CEO, Company A
    .col-md-4
      .card.h-100
        .card-body.d-flex.flex-column
          img(src='/images/logo2.png', alt='Client Logo 2', class='client-logo.mb-2')
          p.text-center "Professional and efficient. Highly recommend!"
          h5.text-center - Jane Smith
          small.text-muted.text-center CFO, Company B
    .col-md-4
      .card.h-100
        .card-body.d-flex.flex-column
          img(src='/images/logo3.png', alt='Client Logo 3', class='client-logo.mb-2')
          p.text-center "They helped us streamline our finances tremendously."
          h5.text-center - Robert Brown
          small.text-muted.text-center Director, Company C
