extends layout

block content
  .container.mt-5
    .row
      .col-md-8.offset-md-2
        h2.text-center Contact Us
        p.text-center Fill out the form below to get in touch with us.
        form(action='/contact' method='post')
          .form-group
            label(for='name') Name
            input#name.form-control(type='text' name='name' required)
          .form-group
            label(for='email') Email
            input#email.form-control(type='email' name='email' required)
          .form-group
            label(for='message') Message
            textarea#message.form-control(name='message' rows='5' required)
          button.btn.btn-primary(type='submit') Submit
